/*
body
*/
.body{
    height: 100%;
    background-color: aqua;
}
/*
main section
*/
.container{
    display: flex;
    justify-content: center;
}
/*
Cards
*/
.card{
    background-color: #36454F;
    width: 275px;
    height: 400px;
    margin: 40px;
    border-radius: 25px;
}
.card:hover{
    background-color: black;
}
/*
card image
*/
.img{
    height: 175px;
    width: 275px;
   margin-bottom: 65px;
   background-size: cover;
  border-radius: 25px 25px 0 0;
}
.Azure{
    background-image: url('/img/Azure.png');
    background-position: center;
}
.VsTotal{
    background-image: url('/img/VsTotal.png');
    background-position: center;
}
.IPQS{
    background-image: url('/img/IPQS.png');
    background-position: center;
}
 /*
text
*/
.title{
color: white;
text-align: center;
}
/*
link
*/
.link{
    display: block;
    width: 275px;
    height: 400px;
    border-radius: 25px;
    text-decoration: none;
}
/*
Subtext
*/
.subtxt{
    color: white;
    text-align: center;
}